

#nav-img {
    margin-right: 5px;
}

#jumbotron {
    background-image: url("assets/images/hero.jpg");
    background-size:cover;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    color: white;
    
}

#hero-h1 {
    font-weight: 600;
    font-size: 60px;
    background: rgba(116, 137, 179, 0.5)
}

#hero-txt {
    background: rgba(116, 137, 179, 0.3)
}

#about-me-h1 {
    font-family: 'Mukta', sans-serif;
    text-align: center;
    
}

#about-me p{
    margin-top: 5px;

}
#about-me img {
    margin-left:15px;
    padding: 10px 10px 10px 0px;
    height: 400px;
}

#gortex {
    background-image: url("https://media1.giphy.com/media/10djOuKKjkPsIw/source.gif");
    background-repeat: repeat;
}

#form {
    color: white;
}