

#nav-img {
    margin-right: 5px;
}

#jumbotron {
    background-image: url("assets/images/hero.jpg");
    background-size:cover;
    /* color: white; */
}

.darken-overlay div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#hero-h1 {
    font-weight: 600;
    font-size: 60px;
    filter: brightness(100%);
    color: white;
    /* background: rgba(116, 137, 179, 0.5); */
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

#hero-txt {
    /* background: rgba(116, 137, 179, 0.3); */
    color: white;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

#about-me-h1 {
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

.about-me-text {
  /* word-wrap: break-word; */
  float: left;

}

#about-me p{
    margin-top: 5px;

}

#about-me img {
    margin-left:15px;
    padding: 10px 10px 10px 0px;
    height: 400px;
}

#gortex {
    background-image: url("https://media1.giphy.com/media/10djOuKKjkPsIw/source.gif");
    background-repeat: repeat;
}